* {
    font-size: 16px;
    margin: 0;
}

h1 {
    font-size: 2rem;
    padding: 20px 0px;
}

button {
    margin: 3px 1px;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: red;
}

.game-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 90%;
    max-width: 1000px;
    height: 50%;
    min-height: 500px;
    background: white;
    border-radius: 25px;
}

.buttons-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 90%;
}

#selection-buttons-1 {
    display: block;
}

#selection-buttons-2 {
    display: none;
}

#game-in-play-container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    height: 100%;
}

#play-button-container {
    display: block;
    padding-bottom: 175px;
}

.play-button-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 300px;
    margin-top: 50px;
}

.text-block > div {
    margin: 6px;
}

.scores {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 25px;
    border-radius: 25px;
}

.scores > div {
    padding: 6px;
    font-size: 1.5rem;
}

.player-box, .computer-box {
    background-color: white;
    font-size: 2rem;
}

.round-result {
    padding-top: 75px;
}